<head>
    <title>Add-cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <div class="container">
    <h2>Update Cart Details</h2>
    <form action="" method="PUT" runsat="server">
      <div class="form-group">
        <label for="collectionType">cart_id</label>
        <input type="text" class="form-control" id="cart_id" placeholder="Enter cart id" name="cart_id">
      </div>
  
      <div class="form-group">
        <label for="collectionId">user_id</label>
        <input type="text" class="form-control" id="user_id" placeholder="Enter user id" name="user_id">
      </div>
      <div class="form-group">
        <label for="collectionId">totalquantity</label>
        <input type="text" class="form-control" id="totalquantity" placeholder="Enter total quantity" name="totalquantity">
      </div>
      <div class="form-group">
        <label for="collectionId">totalprice</label>
        <input type="text" class="form-control" id="totalprice" placeholder="Enter total price" name="totalprice">
      </div>
      <div class="form-group">
        <label for="collectionId">totalplans</label>
        <input type="text" class="form-control" id="totalplans" placeholder="Enter total plans" name="totalplans">
      </div>
      <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
    </form>
  </div>
  
  
  </body>
  
  <script>
  function validate()
  {
    var cart_id=$("#cart_id").val();
    var user_id=$("#user_id").val();
    var totalquantity=$("#totalquantity").val();
    var totalprice=$("#totalprice").val();
    var totalplans=$("#totalplans").val();
   
    
  
  
    $.ajax({
                        
        type: 'PUT',
              url: 'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8085/api/cart/updatecart',
              headers: {'token': "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InBhbGxhdmkiLCJleHAiOjE1MTYyNzM5NjcsImlhdCI6MTUxNjI3MDM2N30.jMPkrASLZ9O3IkpbDjbxRGzBZ3A48kLc3L8JwdXXALQ"},
              data: {cart_id:cart_id,user_id:user_id,totalquantity:totalquantity,totalprice:totalprice,totalplans:totalplans},						
                          success: function(data) {
                              alert(JSON.stringify(data));
                              console.log(JSON.stringify(data));
                              $("#cart_id").val("");$("#user_id").val("");
                          }
    });
    return false;
  }
  
  </script>
  </html>
  
  